.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'https://images.unsplash.com/photo-1416339684178-3a239570f315?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300';

  @include background(url($hero-image));
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 5em;
  .hero-logo img {
    margin-bottom: 1em;
    border-radius: 50%;

    width: 12em;
    height: 12em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;
    background-color: rgba(144, 150, 147, 0.47);

    .review-banner{
      text-align: center;
      margin: 0.5em;

      a{
        @include button(#ff0);
        @include linear-gradient(#ff0, #fb0);
        display: block;
        padding: 2em 30%;
        border: 1px solid darken(#fb0, 23%);
      }
    }

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 2.3em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 55%;
        }
      }
    }

    .get-inspired{
      margin-top: 2em;
      margin-bottom: -3em;
      color: $hero-color;
      font-style: italic;

      a{
        text-decoration: underline;
        color: $hero-color;

        &:hover{
          color: whitesmoke;
        }
      }
    }
  }
}
