<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Name</th>
      <th>Relationship</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.body %></td>
        <td><%= review.name %></td>
        <td><%= review.relationship %></td>
      </tr>
    <% end %>
  </tbody>
</table>
